* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}

body {
        font-family:
                "poppins";
        background-color: hsl(0, 100%, 74%);
        background-image:
                url(background.png);
        display: flex;
        justify-content: center;
        align-items:
                center;
        min-height: 100vh;
        padding: 40px 20px;
}

.container {
        max-width: 1100px;
        width: 100%;
        display: flex;
        gap: 60px;
        align-items: center;
}

.left {
        flex: 1;
        color: #ffffff;
}

.left h1 {
        font-size: 48px;
        margin-bottom: 20px;
        line-height:
                1.2;
}

.left p {
        font-size: 16px;
        line-height: 1.6;
        opacity: 0.9;
}

.right {
        flex: 1;
}

.top-box {
        background-color: #5e54a4;
        color: #ffffff;
        padding: 15px;
        text-align: center;
        border-radius: 8px;
        margin-bottom: 20px;
        box-shadow: 0 8px 0 rgba(0, 0, 0, 0.15);
        font-size: 14px;
}

.form-side {
        background: white;
        padding: 35px;
        border-radius: 10px;
        box-shadow: 0 10px 0 rgba(0, 0, 0, 0.15);
}

form {
        display: flex;
        flex-direction: column;
        gap: 10px;
}

.input-group {
        position: relative;
        margin-bottom: 10px;
}

input {
        width: 100%;
        padding: 15px;
        padding-right: 50px;
        border-radius: 6px;
        border: 1px solid #808080;
        font-size:
                14px;
        font-weight: 500;
}

input:focus {
        border-color: hsl(246, 25%, 77%);
        outline: none;
}

.input-group.error input {
        border: 1px solid hsl(0, 100%, 74%);
        background-color: #ffffff;
        background-image: url("icon-error.svg");
        background-position: right 15px center;
        background-size: 20px;
        background-repeat: no- repeat;
}

.input-group.error input::placeholder {
        color: hsl(0, 100%, 74%);
}

.error-text {
        color: hsl(0, 100%, 74%);
        font-size: 12px;
        text-align: right;
        margin-top: 6px;
        display: none;
}

.input-group.error .error-text {
        display:
                block;
}

button {
        padding: 15px;
        border-radius: 6px;
        border: none;
        background-color: hsl(154, 59%, 51%);
        color: #ffffff;
        font-weight: 500;
        letter-spacing:
                1px;
        cursor: pointer;
}

button:hover {
        background-color: #2ebf7c;
}

.small {
        text-align: center;
        font-size: 12px;
        color: #999;
        padding-top: 10px;
}

.small span {
        color: hsl(0, 100%, 74%);
        font-weight: 600;
        cursor: pointer;
}

@media (max-width: 768px) {
        .container {
                flex-direction: column;
                text-align: center;
        }
}